APPS_SCRIPT_WEB_APP_URL=
APPS_SCRIPT_TOKEN=
GOOGLE_SOURCE_SHEET_ID=1A_aDf5GrnTWLdICVND1onvNDeMxWuMnur9tW9uQwZ_g
GOOGLE_OUTPUT_SHEET_ID=1QjTHwp8qnkaFOIVRHuDxXuo7si7trshjB6aSa4Pj1L0
GOOGLE_DRIVE_FOLDER_ID=1TljgB91WOfYUthu8kIIXPfSheFv-qsym
CATALOG_CACHE_TTL_MINUTES=10
NEXT_PUBLIC_APP_NAME=Catalogo Marketplace

NEXT_PUBLIC_SUPABASE_URL=https://enhvtgegkzyazlsnjnwe.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_U31V3UwzXsPdCWSgtVblAg_OYr9UC8k
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY
